{% extends "TestTestBundle:Utility:base.html.twig" %}

{% block header %}
	Edit {{ editParameter }}
{% endblock %}
{% block body %}
	{% if editResult == "success" %}
		Entry successfully edited!<br>
	{% elseif editResult == "fail" %}
		{% for error in errorMessage %}
			{{ error.message }}<br>
		{% endfor %}
	{% endif %}
	
	{% if editParameter == "CROP" %}
		<div class="Crop">
			<form action={{ path( 'edit_results' ) }} method="post" id="cropsForm">
				<input type="hidden" name="categorySelected" value="crop">
				<input type="hidden" name="id" value={{ entity.cropId }}>
				Crop: <input type="text" name="entityName" value="{{ entity.cropName }}">
				<input type="submit" name="editCrop" value="Save">
			</form>
		</div>
	{% endif %}
	
	{% if  editParameter == "PRODUCT" %}
		<div class="Product">
			<form action={{ path( 'edit_results' ) }} method="post" id="productsForm">
				<input type="hidden" name="categorySelected" value="product">
				<input type="hidden" name="id" value={{ entity.productId }}>
				Product: <input type="text" name="entityName" value="{{ entity.productName }}">
				<input type="submit" name="editProduct" value="Save">
			</form>
		</div>
	{% endif %}
	
	{% if  editParameter == "LOCATION" %}
		<div class="Location">
			<form action={{ path( 'edit_results' ) }} method="post" id="locationsForm">
				<input type="hidden" name="categorySelected" value="location">
				<input type="hidden" name="id" value="{{ entity.locationId }}">
				Location:
				<input type="text" name="barangay" value="{{ entity.Barangay }}">
				<input type="text" name="city" value="{{ entity.City }}" required>
				<input type="text" name="province" value="{{ entity.Province }}" required>
				<input type="text" name="region" value="{{ entity.Region }}" required>
				<input type="submit" name="editLocation" value="Save">
			</form>
		</div>
	{% endif %}
	
	{% if  editParameter == "REASON" %}
		fun fun fun
		<div class="Reason">
			<form action={{ path( 'edit_results' ) }} method="post" id="reasonsForm">
				<input type="hidden" name="categorySelected" value="reason">
				<input type="hidden" name="id" value="{{ entity.reasonId }}">
				Reason:
				<input type="text" name="entityName" value="{{ entity.reasonName }}">
				<input type="submit" name="editReason" value="Save">
			</form>
		</div>
	{% endif %}
	
	{% if editParameter == "FARMER" %}
		<div class="Farmer">
			<form action={{ path( 'edit_results' ) }} method="post" id="farmersForm">
				<input type="hidden" name="categorySelected" value="farmer">
				<input type="hidden" name="id" value={{ entity.id }}>
				Farmer: <input type="text" name="entityName" value="{{ entity.name }}">
				<input type="submit" name="editFarmer" value="Save">
			</form>
		</div>
	{% endif %}
{% endblock %}