{% extends "TestTestBundle:Utility:base.html.twig" %}

{% block stylesheets %}
	{% stylesheets 'bundles/TestTest/css/main.css'
		'bundles/TestTest/css/Utility/tab.css'
		filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}
{% block javascripts %}
	{% javascripts '@TestTestBundle/Resources/public/js/tab.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
{% block header "List" %}
{% block body %}
	{% if editResult == "success" %}
		Entry successfully edited!<br>
	{% elseif editResult == "fail" %}
		{% for error in errorMessage %}
			{{ error.message }}<br>
		{% endfor %}
	{% endif %}
	
	<div id="wrapper">
		  <div id="tabContainer">
			<div class="tabs">
			  <ul>
				<li id="tabHeader_1">Crops</li>
				<li id="tabHeader_2">Products</li>
				<li id="tabHeader_3">Locations</li>
				<li id="tabHeader_4">Reasons</li>
				<li id="tabHeader_5">Crop-Product Relations</li>
				<li id="tabHeader_6">Location-Product Relations</li>
				<li id="tabHeader_7">Reason-Location-Product Relations</li>
				<li id="tabHeader_8">OtherReason-Location-Product Relations</li>
				<li id="tabHeader_9">Farmers</li>
			  </ul>
			</div>
			<div class="tabscontent">
			  <div class="tabpage" id="tabpage_1">
				<h2>Crops</h2>
				{% for crop in crops %}
					{{ crop.cropName }}
				<form action={{ path( 'delete_entry' ) }} method="post" id="{{ crop.cropId }}">
					<input type="hidden" name="categorySelected" value="crop">
					<input type="hidden" name="id" value={{ crop.cropId }}>
					<input type="submit" name="deleteEntry" value="Delete">
				</form>
				<form action={{ path( 'edit_entry' ) }} method="post" id="{{ crop.cropId }}">
					<input type="hidden" name="categorySelected" value="crop">
					<input type="hidden" name="id" value={{ crop.cropId }}>
					<input type="submit" name="editEntry" value="Edit">
				</form>
				{% endfor %}
			  </div>
			  <div class="tabpage" id="tabpage_2">
				<h2>Products</h2>
				{% for product in products %}
					{{ product.productName }}
				<form action={{ path( 'delete_entry' ) }} method="post" id="{{ product.productId }}">
					<input type="hidden" name="categorySelected" value="product">
					<input type="hidden" name="id" value={{ product.productId }}>
					<input type="submit" name="deleteEntry" value="Delete">
				</form>
				<form action={{ path( 'edit_entry' ) }} method="post" id="{{ product.productId }}">
					<input type="hidden" name="categorySelected" value="product">
					<input type="hidden" name="id" value={{ product.productId }}>
					<input type="submit" name="editEntry" value="Edit">
				</form>
				{% endfor %}
			  </div>
			  <div class="tabpage" id="tabpage_3">
				<h2>Locations</h2>
				{% for location in locations %}
					{{ location.Barangay }} - {{ location.City }} - {{ location.Province }} - {{ location.Region }} 
				<form action={{ path( 'delete_entry' ) }} method="post" id="{{ location.locationId }}">
					<input type="hidden" name="categorySelected" value="location">
					<input type="hidden" name="id" value={{ location.locationId }}>
					<input type="submit" name="deleteEntry" value="Delete">
				</form>
				<form action={{ path( 'edit_entry' ) }} method="post" id="{{ location.locationId }}">
					<input type="hidden" name="categorySelected" value="location">
					<input type="hidden" name="id" value={{ location.locationId }}>
					<input type="submit" name="editEntry" value="Edit">
				</form>
				{% endfor %}
			  </div>
			  <div class="tabpage" id="tabpage_4">
				<h2>Reasons</h2>
				{% for reason in reasons %}
					{{ reason.reasonName }}
				<form action={{ path( 'delete_entry' ) }} method="post" id="{{ reason.reasonId }}">
					<input type="hidden" name="categorySelected" value="reason">
					<input type="hidden" name="id" value={{ reason.reasonId }}>
					<input type="submit" name="deleteEntry" value="Delete">
				</form>
				<form action={{ path( 'edit_entry' ) }} method="post" id="{{ reason.reasonId }}">
					<input type="hidden" name="categorySelected" value="reason">
					<input type="hidden" name="id" value={{ reason.reasonId }}>
					<input type="submit" name="editEntry" value="Edit">
				</form>
				{% endfor %}
			  </div>
			  <div class="tabpage" id="tabpage_5">
				<h2>Crop-Product Relations</h2>
				{% for cropProduct in cropProducts %}
					{{ cropProduct.entryId }} - {{ cropProduct.cropId.cropName }} - {{ cropProduct.productId.productName }}
				<form action={{ path( 'delete_entry' ) }} method="post" id="{{ cropProduct.entryId }}">
					<input type="hidden" name="categorySelected" value="cropProduct">
					<input type="hidden" name="id" value={{ cropProduct.entryId }}>
					<input type="submit" name="deleteEntry" value="Delete">
				</form>
				{% endfor %}
			  </div>
			  <div class="tabpage" id="tabpage_6">
				<h2>Location-Product Relations</h2>
				{% for locationProduct in locationProducts %}
					{{ locationProduct.locationId.City }} - {{ locationProduct.locationId.Province }} - {{ locationProduct.productId.productName}} - {{ locationProduct.sellingCharacteristic }}
				<form action={{ path( 'delete_entry' ) }} method="post" id="{{ locationProduct.entryId }}">
					<input type="hidden" name="categorySelected" value="locationProduct">
					<input type="hidden" name="id" value={{ locationProduct.entryId }}>
					<input type="submit" name="deleteEntry" value="Delete">
				</form>
				{% endfor %}
			  </div>
			  <div class="tabpage" id="tabpage_7">
				<h2>Reason-Location-Product Relation</h2>
				{% for reaLocProd in reaLocProds %}
					{{ reaLocProd.locationProductId.locationId.City }} - {{ reaLocProd.locationProductId.locationId.Province }} - {{ reaLocProd.locationProductId.productId.productName}} - {{ reaLocProd.locationProductId.sellingCharacteristic }} - {{ reaLocProd.reasonId.reasonName }}
				<form action={{ path( 'delete_entry' ) }} method="post" id="{{ reaLocProd.entryId }}">
					<input type="hidden" name="categorySelected" value="reasonLocationProduct">
					<input type="hidden" name="id" value={{ reaLocProd.entryId }}>
					<input type="submit" name="deleteEntry" value="Delete">
				</form>
				{% endfor %}
			  </div>
			  
			  <!-- This is where the OtherReason-Location-Product Relation tab will go-->
			   <div class="tabpage" id="tabpage_8">
				<h2>OtherReason-Location-Product Relation</h2>
				{% for otherReaLocProd in otherReaLocProds %}
					{{ otherReaLocProd.locationProductId.locationId.City }} - {{ otherReaLocProd.locationProductId.locationId.Province }} - {{ otherReaLocProd.locationProductId.productId.productName}} - {{ otherReaLocProd.otherReasonName }}
				<form action={{ path( 'delete_entry' ) }} method="post" id="{{ otherReaLocProd.entryId }}">
					<input type="hidden" name="categorySelected" value="otherReasonLocationProduct">
					<input type="hidden" name="id" value={{ otherReaLocProd.entryId }}>
					<input type="submit" name="deleteEntry" value="Delete">
				</form>
				{% endfor %}
			  </div>
			  
			  <div class="tabpage" id="tabpage_9">
				<h2>Farmers</h2>
				{% for farmer in farmers %}
					{{ farmer.name }}
				<form action={{ path( 'delete_entry' ) }} method="post" id="{{ farmer.id }}">
					<input type="hidden" name="categorySelected" value="farmer">
					<input type="hidden" name="id" value={{ farmer.id }}>
					<input type="submit" name="deleteEntry" value="Delete">
				</form>
				
				<form action={{ path( 'edit_entry' ) }} method="post" id="{{ farmer.id }}">
					<input type="hidden" name="categorySelected" value="farmer">
					<input type="hidden" name="id" value={{ farmer.id }}>
					<input type="submit" name="editEntry" value="Edit">
				</form>
				{% endfor %}
			  </div>
			</div>
		</div>
	</div>
	
{% endblock %}