{% extends "TestTestBundle:Utility:base.html.twig" %}

{% block stylesheets %}
	{% stylesheets 'bundles/TestTest/css/main.css'
		'bundles/TestTest/css/Utility/tab.css'
		filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}"/>
	{% endstylesheets %}
{% endblock %}
{% block javascripts %}
	{% javascripts '@TestTestBundle/Resources/public/js/tab.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
{% block header "Add Bar" %}
{% block body %}
	{% if addResult == "success" %}
		Entry successfully added!
	{% elseif addResult == "fail" %}
		{% for errors in errorMessage %}
			{{ errors.message }}<br>
		{% endfor %}
	{% elseif addResult == "arrayOfFails" %}
		{% for errors in errorMessage %}
			{% for error in errors %}
				{{ error.message }}<br>
			{% endfor %}
		{% endfor %}
		{% for success in successes %}
			{{ success }}<br>
		{% endfor %}
	{% endif %}
	
	<div id="wrapper">
		  <div id="tabContainer">
			<div class="tabs">
			  <ul>
				<li id="tabHeader_1">Add Crop</li>
				<li id="tabHeader_2">Add Product</li>
				<li id="tabHeader_3">Add Location</li>
				<li id="tabHeader_4">Add Reason</li>
				<li id="tabHeader_5">Add Crop-Product Pair</li>
				<li id="tabHeader_6">Add Location-Product Pair</li>
				<li id="tabHeader_7">Add Reason-Location-Product Triple</li>
				<li id="tabHeader_8">Add Farmer</li>
			  </ul>
			</div>
			<div class="tabscontent">
			  <div class="tabpage" id="tabpage_1">
				<h2>Add Crop</h2>
				<form action={{ path( 'add_results' ) }} method="post" id="cropsForm">
					<input type="hidden" name="categorySelected" value="crop">
					<input type="text" name="entityName" placeholder="Crop name" required><br><br>
					<input type="submit" name="addCrop" value="Add">
				</form>
			  </div>
			  <div class="tabpage" id="tabpage_2">
				<h2>Add Product</h2>
				<form action={{ path( 'add_results' ) }} method="post" id="productsForm">
					<input type="hidden" name="categorySelected" value="product">
					<input type="text" name="entityName" placeholder="Product name" required><br><br>
					<input type="submit" name="addProduct" value="Add">
				</form>
			  </div>
			  <div class="tabpage" id="tabpage_3">
				<h2>Add Location</h2>
				<form action={{ path( 'add_results' ) }} method="post" id="locationsForm">
					<input type="hidden" name="categorySelected" value="location">
					<input type="text" name="barangay" placeholder="Barangay"><br><br>
					<input type="text" name="city" placeholder="City" required><br><br>
					<input type="text" name="province" placeholder="Province" required><br><br>
					<input type="text" name="region" placeholder="Region" required><br><br>
					<input type="submit" name="addLocation" value="Add">
				</form>
			  </div>
			  <div class="tabpage" id="tabpage_4">
				<h2>Add Reason</h2>
				<form action={{ path( 'add_results' ) }} method="post" id="reasonsForm">
					<input type="hidden" name="categorySelected" value="reason">
					<input type="text" name="entityName" placeholder="Reason" required><br><br>
					<input type="submit" name="addReason" value="Add">
				</form>
			  </div>
			  <div class="tabpage" id="tabpage_5">
				<h2>Add new crop a product is effective on</h2>
				<form action={{ path( 'add_results' ) }} method="post" id="cropProductsForm">
					<input type="hidden" name="categorySelected" value="cropProduct">
					Crop: <select name="cropList">
						{% for crop in crops %}
							<option value={{ crop.cropId }}>{{ crop.cropName }}</option>
						{% endfor %}
					</select><br><br>
					Product: <select name="productList">
						{% for product in products %}
							<option value={{ product.productId }}>{{ product.productName }}</option>
						{% endfor %}
					</select><br><br>
					<input type="submit" name="addCropProduct" value="Add">
				</form>
			  </div>
			  <div class="tabpage" id="tabpage_6">
				<h2>Add new grossing location for a product</h2>
				<form action={{ path( 'add_results' ) }} method="post" id="locationProductsForm">
					<input type="hidden" name="categorySelected" value="locationProduct">
					Location: <select name="locationList">
						{% for location in locations %}
							<option value={{ location.locationId }}>{{ location.city }}, {{ location.province }}</option>
						{% endfor %}
					</select><br><br>
					Product: <select name="productList">
						{% for product in products %}
							<option value={{ product.productId }}>{{ product.productName }}</option>
						{% endfor %}
					</select><br><br>
					Market trend: <select name="sellingCharacteristic">
						<option value="1">Top Grossing Location</option>
						<option value="0">Slow Grossing Location</option>
					</select><br><br>
					<input type="submit" name="addLocationProduct" value="Add">
				</form>
			  </div>
			  <div class="tabpage" id="tabpage_7">
				<h2>Add new reason for a top/slow grossing location for a product</h2>
				<form action={{ path( 'add_results' ) }} method="post" id="reasonLocationProductsForm">
					<input type="hidden" name="categorySelected" value="reasonLocationProduct">
					Location-Product pair: <select name="locationProductList">
						{% for locProd in locProds %}
							<option value={{ locProd.entryId }}>{{ locProd.productId.productName }} - {{ locProd.locationId.city }}, {{ locProd.locationId.province }} - 
							{% if locProd.sellingCharacteristic ==1 %}
							Top Grossing
							{% else %}
							Slow Grossing
							{% endif %}
							</option>
						{% endfor %}
					</select><br><br>
						
					{% for reason in reasons %}
						<input type="checkbox" name="checkedReasons[]" value="{{ reason.reasonId }}">{{ reason.reasonName }}<br>
					{% endfor %}
					<br>
					Other Reasons: <input type="text" name="otherReason"><br><br>
					<input type="submit" name="addLocationProduct" value="Add">
				</form>
			  </div>
			  <div class="tabpage" id="tabpage_8">
				<h2>Add new farmer</h2>
				<form action={{ path( 'add_results' ) }} method="post" id="farmerForm">
					<input type="hidden" name="categorySelected" value="farmer">
					<input type="text" name="farmerName" placeholder="Full name" required><br><br>
					<select name="locationList">
						<optgroup label="Location">
							{% for location in locations %}
								<option value={{ location.locationId }}>{{ location.city }}, {{ location.province }}</option>
							{% endfor %}
						</optgroup>
					</select><br><br>
					<input type="submit" name="addFarmer" value="Add">
				</form>
			  </div>
			</div>
		</div>
	</div>
	<!--<div class="tabs">
				
			<div class="tab">
			   <input type="radio" id="tab-1" name="tab-group-1" checked>
			   <label for="tab-1">Add Crop</label>
				<div class="content">
					<form action={{ path( 'add_results' ) }} method="post" id="cropsForm">
						<input type="hidden" name="categorySelected" value="crop">
						Add crop: <input type="text" name="entityName" placeholder="Crop name" required>
						<input type="submit" name="addCrop" value="Add">
					</form>
				</div>
			</div>
			<div class="tab">
			   <input type="radio" id="tab-2" name="tab-group-1">
			   <label for="tab-2">Add Product</label>
				<div class="content">
					<form action={{ path( 'add_results' ) }} method="post" id="productsForm">
						<input type="hidden" name="categorySelected" value="product">
						Add product: <input type="text" name="entityName" placeholder="Product name" required>
						<input type="submit" name="addProduct" value="Add">
					</form>
				</div>
			</div>
			<div class="tab">
			   <input type="radio" id="tab-3" name="tab-group-1">
			   <label for="tab-3">Add Location</label>
				<div class="content">
					<form action={{ path( 'add_results' ) }} method="post" id="locationsForm">
						<input type="hidden" name="categorySelected" value="location">
						Add location:
						<input type="text" name="barangay" placeholder="Barangay">
						<input type="text" name="city" placeholder="City" required>
						<input type="text" name="province" placeholder="Province" required>
						<input type="text" name="region" placeholder="Region" required>
						<input type="submit" name="addLocation" value="Add">
					</form>
				</div>
			</div>
			<div class="tab">
			   <input type="radio" id="tab-4" name="tab-group-1">
			   <label for="tab-4">Add Reason</label>
				<div class="content">
					<form action={{ path( 'add_results' ) }} method="post" id="locationsForm">
						<input type="hidden" name="categorySelected" value="reason">
						Add reason:
						<input type="text" name="entityName" placeholder="Reason" required>
						<input type="submit" name="addReason" value="Add">
					</form>
				</div>
			</div>
			<div class="tab">
			   <input type="radio" id="tab-5" name="tab-group-1">
			   <label for="tab-5">Add Crop-Product Relation</label>
				<div class="content">
					<form action={{ path( 'add_results' ) }} method="post" id="cropProductsForm">
						<input type="hidden" name="categorySelected" value="cropProduct">
						Add new crop a product is effective on:
						<select name="cropList">
							<optgroup label="Crop">
								{% for crop in crops %}
									<option value={{ crop.cropId }}>{{ crop.cropName }}</option>
								{% endfor %}
							</optgroup>
						</select>
						<select name="productList">
							<optgroup label="Product">
								{% for product in products %}
									<option value={{ product.productId }}>{{ product.productName }}</option>
								{% endfor %}
							</optgroup>
						</select>
						<input type="submit" name="addCropProduct" value="Add">
					</form>
				</div>
			</div>
			<div class="tab">
			   <input type="radio" id="tab-6" name="tab-group-1">
			   <label for="tab-6">Add Location-Product Relation</label>
				<div class="content">
					<form action={{ path( 'add_results' ) }} method="post" id="locationProductsForm">
						<input type="hidden" name="categorySelected" value="locationProduct">
						Add new grossing location for a product:
						<select name="locationList">
							<optgroup label="Location">
								{% for location in locations %}
									<option value={{ location.locationId }}>{{ location.city }}, {{ location.province }}</option>
								{% endfor %}
							</optgroup>
						</select>
						<select name="productList">
							<optgroup label="Product">
								{% for product in products %}
									<option value={{ product.productId }}>{{ product.productName }}</option>
								{% endfor %}
							</optgroup>
						</select>
						<select name="sellingCharacteristic">
							<optgroup label="Selling Characteristic">
								<option value="1">Top Grossing Location</option>
								<option value="0">Slow Grossing Location</option>
							</optgroup>
						</select>	
						<input type="submit" name="addLocationProduct" value="Add">
					</form>
				</div>
			</div>
			<div class="tab">
			   <input type="radio" id="tab-7" name="tab-group-1">
			   <label for="tab-7">Add Reason-Location-Product Relation</label>
				<div class="content">
					<form action={{ path( 'add_results' ) }} method="post" id="reasonLocationProductsForm">
						<input type="hidden" name="categorySelected" value="reasonLocationProduct">
						Add new reason for a top/slow grossing location for a product:
						<select name="locationProductList">
							<optgroup label="Location-Product">
								{% for locProd in locProds %}
									<option value={{ locProd.entryId }}>{{ locProd.productId.productName }} - {{ locProd.locationId.city }}, {{ locProd.locationId.province }} - 
									{% if locProd.sellingCharacteristic ==1 %}
									Top Grossing
									{% else %}
									Slow Grossing
									{% endif %}
									</option>
								{% endfor %}
							</optgroup>
						</select>
							
						{% for reason in reasons %}
							<input type="checkbox" name="checkedReasons[]" value="{{ reason.reasonId }}">{{ reason.reasonName }}
						{% endfor %}
						<input type="submit" name="addLocationProduct" value="Add">
					</form>
				</div>
			</div>
			<div class="tab">
			   <input type="radio" id="tab-8" name="tab-group-1">
			   <label for="tab-8">Add Farmer</label>
				<div class="content">
					<form action={{ path( 'add_results' ) }} method="post" id="farmerForm">
						<input type="hidden" name="categorySelected" value="farmer">
						Add new farmer:	<input type="text" name="farmerName" placeholder="Full name" required>
						<select name="locationList">
							<optgroup label="Location">
								{% for location in locations %}
									<option value={{ location.locationId }}>{{ location.city }}, {{ location.province }}</option>
								{% endfor %}
							</optgroup>
						</select>
						<input type="submit" name="addFarmer" value="Add">
					</form>
				</div>
			</div>
			
		</div>
		-->
{% endblock %}