{% extends "TestTestBundle:Utility:base.html.twig" %}

{% block header "Login Page" %}
{% block topbar %}{% endblock %}
{% block body %}
	<form action={{ path('search_index') }} method="post" id="login">
		<div class="signIn">
			<input type="text" name="name" id="username" placeholder="Username">
			<input type="password" name="password" id="password" placeholder="Password">
			<input type="submit" id="submit" value="Login">
			<input type="button" value="LOL" onclick="lol();">
		</div>
	</form>
{% endblock %}