<html>
	<head>
		{% block stylesheets %}
			{% stylesheets 'bundles/TestTest/css/main.css'
				filter='cssrewrite' %}
				<link rel="stylesheet" href="{{ asset_url }}" />
			{% endstylesheets %}
		{% endblock %}
	</head>
	
	<body>
		<div class="header">
			{% block header %}{% endblock %}
		</div>
		
		<div class="topbar">
			{% block topbar %}		
				<ul class = "topList">
					<li class="topElement"><a href={{path('add_index')}}>Add entry</a></li>
					<li class="topElement"><a href={{path('import_index')}}>Import file</a></li>
					<li class="topElement"><a href={{path('view_report')}}>View report</a></li>
					<li class="topElement"><a href={{path('search_index')}}>Search</a></li>
					<li class="topElement"><a href={{path('list_index')}}>List</a></li>
					<li class="topElement"><a href={{path('login')}}>Signout</a></li>
				</ul><br>
			{% endblock %}
		</div>
		
		<div id="content">
			{% block body %}{% endblock %}
		</div>
		
		{% block javascripts %}
			{% javascripts '@TestTestBundle/Resources/public/js/jquery-1.11.0.min.js' %}
				<script type="text/javascript" src="{{ asset_url }}"></script>
			{% endjavascripts %}
		{% endblock %}
	</body>
</html>