.header
{
	position: relative;
	font-size: 35px;
	z-index: 10;
}

.topbar
{
	position: relative;
	z-index: 9;
}

.topList
{
	list-style-type: none;
}

.topElement a
{
	text-decoration: none;
	color: white;
}

.topElement
{
	display: block;
	margin:0 2px 0 0;
	padding:7px 10px;
	float:left;
	color:#FFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px; 
	background: #0000FF; /* old browsers */
	background: -moz-linear-gradient(top, #0000FF 0%, #110000 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0000FF), color-stop(100%,#110000)); /* webkit */
}

.topElement:hover
{
	background: #BBBBBB; /* old browsers */
	background: -moz-linear-gradient(top, #BBBBBB 0%, #F3F3F3 10%, #F3F3F3 50%, #BBBBBB 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#BBBBBB), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#BBBBBB)); /* webkit */
	color: #333333;
	cursor: pointer;
}

#content
{
	margin-top: 20px;
	margin-left: 10px;
}

body
{
	font: .8em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background: #EEE; /* old browsers */
	background: -moz-linear-gradient(top, #EEE 0%, #BBB 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEE), color-stop(100%,#BBB)); /* webkit */
}