.tabs 
{
	position: relative
}
.tab 
{
	position: relative;
}
.tab label 
{
	position: relative;
	padding: 5px;
	background: #eee;
	border: 1px solid #ccc;
	z-index: 2;
}
.tab [type=radio]
{
	display: none;
}
.content
{
	position: relative;
	padding-top: 10px;
	border: 1px solid #ccc; 
	-webkit-transition: opacity .6s linear;
	opacity: 0;
}
[type=radio]:checked ~ label
{
	z-index: 2;
	border-bottom: 1px solid white;
}
[type=radio]:checked ~ label ~ .content
{
	z-index: 1;
	opacity: 1;
}