{% extends "TestTestBundle:Utility:base.html.twig" %}

{% block header "Search Bar" %}
{% block body %}
	<form action={{ path( 'search_results' ) }} method="post" id="cropsForm">
		Search:
		<input type="hidden" name="categorySelected" value="keyword">
		<input type="text" name="searchKeyword">
		<input type="submit" name="searchKey" value="Search">
	</form>
	<div class="container">
		<div class="Crop">
			<form action={{ path( 'search_results' ) }} method="post" id="cropsForm">
				<input type="hidden" name="categorySelected" value="crop">
				Search for products effective on:
				<select name="search_list">
					{% for crop in crops %}
						<option value={{ crop.cropId }}>{{ crop.cropName }}</option>
					{% endfor %}
				</select>
				<input type="submit" name="searchCrops" value="Search">
			</form>
		</div>
		
		<div class="Product">
			<form action={{ path( 'search_results' ) }} method="post" id="productsForm">
				<input type="hidden" name="categorySelected" value="product">
				View product profile of:
				<select name="search_list">
					{% for product in products %}
						<option value={{ product.productId }}>{{ product.productName }}</option>
					{% endfor %}
				</select>
				<input type="submit" name="searchProducts" value="Search">
			</form>
		</div>
		
		<div class="Location">
			<form action={{ path( 'search_results' ) }} method="post" id="productsForm">
				<input type="hidden" name="categorySelected" value="location">
				Search by location:
				<select name="search_list">
					{% for location in locations %}
						<option value={{ location.locationId }}>{{ location.city }}, {{ location.province }}</option>
					{% endfor %}
				</select>
				<input type="submit" name="searchLocations" value="Search">
			</form>
			
		</div>
	</div>
{% endblock %}