{% extends "TestTestBundle:Utility:base.html.twig" %}

{% block header "Search Bar" %}
{% block body %}
	{% if searchResults is not defined %}
		Weird error. Contact devs :P
	{% elseif searchResults is defined %}
		{% if searchResults == "keySearch" %}
			{% if not arr %}
				No results found on {{ searchParameter }}<br>
			{% else %}
				Search Results for {{ searchParameter }}:<br>			
				{% for item in arr %}
					<a href={{ path( 'display_results', { 'id': item[ 'id' ], 'entity': item[ 'entity' ] } ) }}>{{ item["data"] }}</a><br>
				{% endfor %}
			{% endif %}
		{% elseif searchResults == "cropSearch" %}
			{% if not arr %}
				No products are effective on {{ searchParameter }}<br>
			{% else %}
				Products effective for use on {{ searchParameter }}:<br>			
				{% for product in arr %}
					{{ product }}<br>
				{% endfor %}
			{% endif %}
		{% elseif searchResults == "productSearch" %}
			Product profile of {{ searchParameter }}:<br>
			{% if not cropProdRelaIds %}
				{{ searchParameter }} is not effective on any crops<br>
			{% else %}
				{% for cropProduct in cropProdRelaIds %}
					{{ cropProduct.cropId.cropName }}<br>
				{% endfor %}
			{% endif %}
			
			<br>
			{% if not locaProdRelaIds %}
				This product is not sold anywhere<br>
			{% else %}
				Product market data:<br>
				<table border="2px">
					<tr>
						<th>Location</th>
						<th>Market Trend</th>
						<th>Reason</th>
						<th>Other Reasons</th>
					</tr>
					{% for key, locaProdRelaId in locaProdRelaIds %}
						<tr>
							<td>{{ locaProdRelaId.locationId.city }}, {{ locaProdRelaId.locationId.province }}</td>
							<td>
								{% if locaProdRelaId.sellingCharacteristic == 0 %}
									Slow Grossing
								{% else %}
									Top Grossing
								{% endif %}
							</td>
							<td>
								{% for reasons in reaLocProdRelaIds[ key ] %}
									{% for reason in reasons %}
									{{ reason.reasonId.reasonName }}
									{% endfor %}
								{% endfor %}
							</td>
							<td>
								{% for otherReasons in otherReaLocProdRelaIds[ key ] %}
									{% for otherReason in otherReasons %}
										{{ otherReason.otherReasonName }}
									{% endfor %}
								{% endfor %}
							</td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}
		{% elseif searchResults == "locationSearch" %}
			{% if not locaProdRelaIds %}
				No products are being sold in this location<br>
			{% else %}
				Product statuses in {{ searchParameter }}:<br>
				<table border="2px">
					<tr>
						<th>Product Name</th>
						<th>Market Trend</th>
						<th>Reason</th>
						<th>Other Reasons</th>
					</tr>
					{% for key, locaProdRelaId in locaProdRelaIds %}
						<tr>
							<td>{{ locaProdRelaId.productId.productName }}</td>
							<td>
								{% if locaProdRelaId.sellingCharacteristic == 0 %}
									Slow Grossing
								{% else %}
									Top Grossing
								{% endif %}
							</td>
							<td>
								{% for reasons in reaLocProdRelaIds[ key ] %}
									{% for reason in reasons %}
									{{ reason.reasonId.reasonName }}
									{% endfor %}
								{% endfor %}
							</td>
							<td>
								{% for otherReasons in otherReaLocProdRelaIds[ key ] %}
									{% for otherReason in otherReasons %}
										{{ otherReason.otherReasonName }}
									{% endfor %}
								{% endfor %}
							</td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}
		{% elseif searchResults == "reasonSearch" %}
			Products that are deemed "{{ searchParameter }}":<br>
			<table border="2px">
				<tr>
					<th>Product Name</th>
					<th>Location</th>
					<th>Market Trend</th>
				</tr>
				{% for locaProdRelation in locaProdRelations %}
					<tr>
						<td>{{ locaProdRelation.productId.productName }}</td>
						<td>{{ locaProdRelation.locationId.city }}, {{ locaProdRelation.locationId.province }}</td>
						<td>
							{% if locaProdRelation.sellingCharacteristic == 0 %}
								Slow Grossing
							{% else %}
								Top Grossing
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</table>
		{% elseif searchResults == "nullTableException" %}
			Table does not exist. Contact devs :P
		{% endif %}
	{% endif %}
{% endblock %}