{% extends "TestTestBundle:Utility:base.html.twig" %}

{% block stylesheets %}
	{% stylesheets 'bundles/TestTest/css/main.css'
		'bundles/TestTest/css/View/tables.css'
		'bundles/TestTest/css/Utility/tab.css'
		filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}
{% block javascripts %}
	{% javascripts '@TestTestBundle/Resources/public/js/tab.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
{% block header "Report" %}
{% block body %}
	<div id="wrapper">
		  <div id="tabContainer">
			<div class="tabs">
			  <ul>
				<li id="tabHeader_1">Products</li>
				<li id="tabHeader_2">Locations</li>
				<li id="tabHeader_3">Crops</li>
			  </ul>
			</div>
			<div class="tabscontent">
			  <div class="tabpage" id="tabpage_1">
				<h2>Products</h2>
				{% for product in products %}
				<table class="mainReportTable">
					<caption>{{ product.productName }}</caption>
					<tr>
						<td class="subTable">
							<table>
								<tr><th>Effective Crops</th></tr>
								{% for cropProduct in cropProducts if cropProduct.productId is sameas( product ) %}
									<tr><td><a href={{path( 'display_results', { 'id': cropProduct.cropId.cropId, 'entity': 'crop' } ) }}> {{ cropProduct.cropId.cropName }}</a></td></tr>
								{% endfor %}
							</table>
						</td>
						<td class="subTable">
							<table>
								<tr><th>Top Grossing Locations</th></tr>
								{% for locaProduct in locaProducts if locaProduct.productId is sameas( product ) %}
									{% if locaProduct.sellingCharacteristic == 1 %}
										<tr><td><a href={{path( 'display_results', { 'id': locaProduct.locationId.locationId, 'entity': 'location' } ) }}>{{ locaProduct.locationId.City }}, {{ locaProduct.locationId.Province }}</a></td></tr>
									{% endif %}
								{% endfor %}
							</table>
						</td>
						<td class="subTable">
							<table>
								<tr><th>Slow Grossing Locations</th></tr>
								{% for locaProduct in locaProducts if locaProduct.productId is sameas( product ) %}
									{% if locaProduct.sellingCharacteristic == 0 %}
										<tr><td><a href={{path( 'display_results', { 'id': locaProduct.locationId.locationId, 'entity': 'location' } ) }}>{{ locaProduct.locationId.City }}, {{ locaProduct.locationId.Province }}</a></td></tr>
									{% endif %}
								{% endfor %}
							</table>
						</td>
					</tr>
				</table>
				{% endfor %}
			  </div>
			  <div class="tabpage" id="tabpage_2">
				<h2>Locations</h2>
				{% for location in locations if location in definedLocations %}
					<table class="mainReportTable">
						<caption>{{ location.city }}, {{ location.province }}</caption>
							<tr>
								<td class="subTable">
									<table>
										<tr><th>Top Grossing Products</th></tr>
										{% for locaProduct in locaProducts if locaProduct.locationId is sameas( location ) %}
											{% if locaProduct.sellingCharacteristic == 1 %}
												<tr><td><a href={{path( 'display_results', { 'id': locaProduct.productId.productId, 'entity': 'product' } ) }} id="subTableLink">{{ locaProduct.productId.productName }}</a></td></tr>
											{% endif %}
										{% endfor %}
									</table>
								</td>
								<td class="subTable">
									<table>
										<tr><th>Slow Grossing Products</th></tr>
										{% for locaProduct in locaProducts if locaProduct.locationId is sameas( location ) %}
											{% if locaProduct.sellingCharacteristic == 0 %}
												<tr><td><a href={{path( 'display_results', { 'id': locaProduct.productId.productId, 'entity': 'product' } ) }}>{{ locaProduct.productId.productName }}</a></td></tr>
											{% endif %}
										{% endfor %}
									</table>
								</td>
							</tr>
					</table>
				{% endfor %}
			  </div>
			  <div class="tabpage" id="tabpage_3">
				<h2>Crops</h2>
				<p>Crop???</p>
			  </div>
			</div>
		</div>
	</div>
	
{% endblock %}