{% extends "TestTestBundle:Utility:base.html.twig" %}

{% block header "Upload Tab-Delimited File" %}
{% block body %}
	<form action={{ path( 'import_results' ) }} method="post" enctype="multipart/form-data" name="form1" id="form1"> 
	  Choose your file (WARNING: For large files, it may take a while; don't worry, let it keep running!): <br /> 
	  <input name="csv" type="file" id="csv" /> 
	  <input type="submit" name="Submit" value="Submit" /> 
	</form> 
	{% if importResult == "success" %}
		CSV successfully extracted!
	{% endif %}
{% endblock %}